.anim-zoom-in {
    animation:zoom-in .5s ;
}

@keyframes zoom-in {
    from {transform: scale(.5) translateY(-50px)}
    to{transform: scale(1) translateY(0)}
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: grid;
    place-items: center;
    background: #fff;
}

.loading h1 {
    font-size: 30px;
}